{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Şifrəni Dəyiş</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="mt-2 ms-2">
                    <a style="text-decoration: none;" href="/user/info/">
                        <i style="font-size: 23px; color: grey" class="fas fa-sign-out-alt fa-rotate-180"></i>
                        <span style="font-size: 15px;">Geri</span>
                    </a>
                </div>
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="{% static 'assets/images/main-logo.png' %}" width="180" alt="bootstraper logo">
                    </div>
                    <h6 class="mb-4 text-muted">Şifrə Dəyişmə</h6>
                    <form method="post">
						{% csrf_token %}
                        <div class="mb-3 text-start">
								{{ changePassForm.old_password.label }}
								{{ changePassForm.old_password }} <br>

								{% if changePassForm.old_password.errors %}
									{% for error in changePassForm.old_password.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
						<div class="mb-3 text-start">
                            	{{ changePassForm.new_password1.label }}
								{{ changePassForm.new_password1 }} <br>

								{% if changePassForm.new_password1.errors %}
									{% for error in changePassForm.new_password1.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
						<div class="mb-3 text-start">
								{{ changePassForm.new_password2.label }}
								{{ changePassForm.new_password2 }}

								{% if changePassForm.new_password2.errors %}
									{% for error in changePassForm.new_password2.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Şifrəni Dəyiş</button>
                    </form>
					<p class="mb-0 text-muted">Köhnə şifrənizi unutdunuz? <a href="/user/reset/">Şifrəni yeniləyin</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>