{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="mt-2 ms-2">
                    <a style="text-decoration: none;" href="/">
                        <i style="font-size: 23px; color: grey" class="fas fa-sign-out-alt fa-rotate-180"></i>
                        <span style="font-size: 15px;">Home Page</span>
                    </a>
                </div>
                <div class="card-body text-center">
                    <div class="mb-2">
                        <img class="brand" src="{% static 'assets/images/main-logo.png' %}" width="100">
                    </div>
                    <h6 class="mb-4 text-muted">Registration</h6>
                    <form method="post" action="." enctype="multipart/form-data">
						{% csrf_token %}
                        <div class="mb-3 text-start">
                                {{ form.username.label }}
								{{ form.username }}

								{% if form.username.errors %}
									{% for error in form.username.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
                        <div class="mb-3 text-start">
                                {{ form.email.label }}
								{{ form.email }}

								{% if form.email.errors %}
									{% for error in form.email.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
                        <div class="mb-3 text-start">
                                {{ form.password.label }}
								{{ form.password }}

								{% if form.password.errors %}
									{% for error in form.password.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
                        <div class="mb-3 text-start">
                                {{ form.password2.label }}
								{{ form.password2 }}

								{% if form.password2.errors %}
									{% for error in form.password2.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>
                        <div class="mb-3 text-start">
                                {{ form.about.label }}
								{{ form.about }}

								{% if form.about.errors %}
									{% for error in form.about.errors %}
										<li style="color: red"> {{ error|escape }} </li>
									{% endfor %}
								{% endif %}
                        </div>

                        <button class="btn btn-primary shadow-2 mb-4 mt-4">Sing Up</button>
                    </form>
                    <span class="mb-0 text-muted">Do you have an existing account? <a href="{% url 'account:login'%}">Login</a></span>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>